body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Roboto';
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}


         /* top section styling */
.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.header-logo-text {
  font-size: 24px;
  color: #f9faf8;
  margin: 0;
  padding: 0;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
  padding: 0;
}

.top-image {
  width: 400px;
  height: 200px;
  padding: 0;
  margin: 0;
}

.button {
  background-color: #3882f6;
  color: white;
  border-radius: 8px;
  border: 1px solid #3882f6;
  padding: 8px 20px;
  font-weight: 700;
  margin: 0;
}

        /* info section styling */
.info-header-text {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin: 0;
  padding: 0;
}

.info-text {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.info-img {
  height: 150px;
  width: 150px;
  border: 4px #3882f6 solid;
  border-radius: 16px;
  margin: 0;
  padding: 0;
}

              /* quote section styling */
.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
  margin: 0;
  padding: 0;
}

.quote-by {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

            /* bottom section styling */
.bottom-panel-header {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.bottom-panel-text {
  color: #f9faf8;
  margin: 0;
  padding: 0;
}

.bottom.button {
  border: 2px white solid;
  margin: 0;
}

              /* footer styling */
.footer-text {
  color: #f9faf8;
  margin: 0;
  padding: 0;
}

               /* main div container styling */

.top-section {
  background-color: #1f2937;
}

.quote-section {
  background-color: #e5e7eb;
}

.bottom-section {
  background-color: #3882f6;
}

.footer {
  background-color: #1f2937;
}

          /* flexbox and positioning */

body {
  display: flex;
  flex-direction: column;
}

              /* flexbox for top section */

.top-section-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 16px;
}
ul {
  display: flex;
  gap: 16px;
}

.top-section-content {
  display: flex;
  align-items: center;
  padding: 96px;
  justify-content: center;
  gap: 32px;
}

.top-left-content {
  display: flex;
  flex-direction: column;
  width: 400px;
  flex: 0 1 auto;
}



                 /* flexbox for info section  */

.info-section-cards {
  display: flex;
  gap: 72px;
  justify-content: center;
  flex-wrap: wrap;
    margin-top: 24px;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  margin-bottom: 64px;
  flex-grow: 1;
}

.info-card {
  display: flex;
  flex-direction: column;
  flex: 0 1 150px;
  gap: 8px;
}

                 /* flexbox for quote section */

.quote-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vh 10vh;
  
}
.quote-by {
  align-self: flex-end;
}

@media (min-width: 1000px) {
  .quote-section  {
    padding: 10vh 20vh;
  }
}

                   /* flexbox for bottom section */

.bottom-section {
  display: flex;
  justify-content: space-around;
  padding: 32px;
  margin: 48px 96px;
}

                       /* footer */
              
.footer {
  text-align: center;
  padding: 16px;
}